@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thư Xác Nhận</title>
</head>
<body>
    <div>
        
        <center><h1>Thư xác nhận email</h1></center>
        <p>Chào bạn !</p><br />
        <p>Chúng tôi vừa nhận được yêu cầu đăng ký làm thành viên của SKGroup . Vì vậy chúng tôi gửi mail này đền bạn để xác minh tính xác thực của Email .</p><br />
        <p>Hãy bấm vào "Xác minh" để tiến hành <a href="@ViewBag.linkxacnhan"><p style="color:red">Xác minh</p></a></p>
    </div>
</body>
</html>
