<!-- HOMEPAGE-1 SLIDER -->
<section class="slider-1-bg">
    <div class="home-1-bg-animation">
        <ul>
            <img src="~/Content/asset/img/svg-imag/1.png" alt="">
            <img src="~/Content/asset/img/svg-imag/2.png" alt="">
            <img src="~/Content/asset/img/svg-imag/3.png" alt="">
            <img src="~/Content/asset/img/svg-imag/4.png" alt="">
            <img src="~/Content/asset/img/svg-imag/5.png" alt="">
            <img src="~/Content/asset/img/svg-imag/6.png" alt="">
            <img src="~/Content/asset/img/svg-imag/7.png" alt="">
            <img src="~/Content/asset/img/svg-imag/8.png" alt="">
            <img src="~/Content/asset/img/svg-imag/9.png" alt="">
            <img src="~/Content/asset/img/svg-imag/10.png" alt="">
            <img src="~/Content/asset/img/svg-imag/11.png" alt="">
            <img src="~/Content/asset/img/svg-imag/12.png" alt="">
            <img src="~/Content/asset/img/svg-imag/13.png" alt="">
            <img src="~/Content/asset/img/svg-imag/14.png" alt="">
            <img src="~/Content/asset/img/svg-imag/15.png" alt="">
            <img src="~/Content/asset/img/svg-imag/16.png" alt="">
            <img src="~/Content/asset/img/svg-imag/17.png" alt="">
            <img src="~/Content/asset/img/svg-imag/18.png" alt="">
            <img src="~/Content/asset/img/svg-imag/19.png" alt="">
            <img src="~/Content/asset/img/svg-imag/20.png" alt="">
            <img src="~/Content/asset/img/svg-imag/21.png" alt="">
            <img src="~/Content/asset/img/svg-imag/22.png" alt="">
            <img src="~/Content/asset/img/svg-imag/23.png" alt="">
            <img src="~/Content/asset/img/svg-imag/24.png" alt="">
            <img src="~/Content/asset/img/svg-imag/25.png" alt="">
            <img src="~/Content/asset/img/svg-imag/26.png" alt="">
            <img src="~/Content/asset/img/svg-imag/27.png" alt="">
            <img src="~/Content/asset/img/svg-imag/28.png" alt="">
            <img src="~/Content/asset/img/svg-imag/29.png" alt="">
            <img src="~/Content/asset/img/svg-imag/30.png" alt="">
            <img src="~/Content/asset/img/svg-imag/31.png" alt="">
            <img src="~/Content/asset/img/svg-imag/32.png" alt="">
            <img src="~/Content/asset/img/svg-imag/33.png" alt="">
            <img src="~/Content/asset/img/svg-imag/34.png" alt="">
            <img src="~/Content/asset/img/svg-imag/35.png" alt="">
            <img src="~/Content/asset/img/svg-imag/36.png" alt="">
            <img src="~/Content/asset/img/svg-imag/37.png" alt="">
            <img src="~/Content/asset/img/svg-imag/38.png" alt="">
            <img src="~/Content/asset/img/svg-imag/39.png" alt="">
            <img src="~/Content/asset/img/svg-imag/40.png" alt="">
            <img src="~/Content/asset/img/svg-imag/1.png" alt="">
            <img src="~/Content/asset/img/svg-imag/2.png" alt="">
            <img src="~/Content/asset/img/svg-imag/3.png" alt="">
            <img src="~/Content/asset/img/svg-imag/4.png" alt="">
            <img src="~/Content/asset/img/svg-imag/15.png" alt="">
            <img src="~/Content/asset/img/svg-imag/11.png" alt="">
            <img src="~/Content/asset/img/svg-imag/12.png" alt="">
            <img src="~/Content/asset/img/svg-imag/13.png" alt="">
            <img src="~/Content/asset/img/svg-imag/14.png" alt="">
            <img src="~/Content/asset/img/svg-imag/17.png" alt="">
            <img src="~/Content/asset/img/svg-imag/18.png" alt="">
            <img src="~/Content/asset/img/svg-imag/19.png" alt="">
            <img src="~/Content/asset/img/svg-imag/20.png" alt="">
            <img src="~/Content/asset/img/svg-imag/21.png" alt="">
            <img src="~/Content/asset/img/svg-imag/22.png" alt="">
            <img src="~/Content/asset/img/svg-imag/23.png" alt="">
            <img src="~/Content/asset/img/svg-imag/24.png" alt="">
            <img src="~/Content/asset/img/svg-imag/25.png" alt="">
            <img src="~/Content/asset/img/svg-imag/26.png" alt="">
            <img src="~/Content/asset/img/svg-imag/27.png" alt="">
            <img src="~/Content/asset/img/svg-imag/28.png" alt="">
            <img src="~/Content/asset/img/svg-imag/29.png" alt="">
            <img src="~/Content/asset/img/svg-imag/30.png" alt="">
            <img src="~/Content/asset/img/svg-imag/31.png" alt="">
            <img src="~/Content/asset/img/svg-imag/32.png" alt="">
            <img src="~/Content/asset/img/svg-imag/33.png" alt="">
            <img src="~/Content/asset/img/svg-imag/34.png" alt="">
            <img src="~/Content/asset/img/svg-imag/35.png" alt="">
            <img src="~/Content/asset/img/svg-imag/36.png" alt="">
            <img src="~/Content/asset/img/svg-imag/37.png" alt="">
            <img src="~/Content/asset/img/svg-imag/1.png" alt="">
            <img src="~/Content/asset/img/svg-imag/2.png" alt="">
            <img src="~/Content/asset/img/svg-imag/3.png" alt="">
            <img src="~/Content/asset/img/svg-imag/4.png" alt="">
            <img src="~/Content/asset/img/svg-imag/5.png" alt="">
            <img src="~/Content/asset/img/svg-imag/6.png" alt="">
            <img src="~/Content/asset/img/svg-imag/7.png" alt="">
            <img src="~/Content/asset/img/svg-imag/8.png" alt="">
            <img src="~/Content/asset/img/svg-imag/9.png" alt="">
            <img src="~/Content/asset/img/svg-imag/10.png" alt="">
            <img src="~/Content/asset/img/svg-imag/11.png" alt="">
            <img src="~/Content/asset/img/svg-imag/12.png" alt="">
            <img src="~/Content/asset/img/svg-imag/13.png" alt="">
            <img src="~/Content/asset/img/svg-imag/14.png" alt="">
            <img src="~/Content/asset/img/svg-imag/15.png" alt="">
            <img src="~/Content/asset/img/svg-imag/16.png" alt="">
            <img src="~/Content/asset/img/svg-imag/17.png" alt="">
        </ul>
    </div>
    <div class="homepage-slider-1">
        @Html.Action("LoadSlide", "Home")


    </div>
</section>

@*<section class="domain-area ">
    <div class="container domain-inner">
        <div class="row domain-checkup">
            <form action="#">
                <div class="domain-checkup-left">
                    <div class="input-field-row">
                        <input type="text" class="domain-input" placeholder="Enter your domain here">
                        <select class="nice-select" name="TLD">
                            <option value="">.com</option>
                            <option value="">.net</option>
                            <option value="">.net</option>
                            <option value="">.net</option>
                            <option value="">.net</option>
                        </select>
                    </div>
                </div>
                <div class="domain-checkup-right">
                    <button>
                        <img src="~/Content/asset/img/icons/search-icon.png" alt="Search icon">
                        Search
                    </button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="domain-tld-prices">
                <ul>
                    <li>.com $9.00</li>
                    <li>.net $9.50</li>
                    <li>.org $9.50</li>
                    <li>.us $6.99</li>
                    <li>.biz $9.99</li>
                    <li>.me $7.50</li>
                </ul>
            </div>
        </div>
    </div>
</section>*@

<!-- BLOG-1 --><br /><br />
<section class="blog-1-area wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title ">
                    <h2>Tai Sao Nên Chọn <span> Psmart ?</span> </h2>
                    <img src="~/Content/asset/img/section-shape.png" alt="section-shape">
                    <p>Chúng tôi cung cấp những dịch vụ chất lượng cao và ưu đãi tuyệt vời đến bạn.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 ">
                <div class="single-blog-1">
                    <img src="~/Content/asset/img/service/section-icon.png" alt="section-icon">
                    <h2>Miễn Phí Dùng Thử</h2>
                    <p>Hãy trải nghiệm dịch vụ của chúng tôi với giá 0 đồng.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 ">
                <div class="single-blog-1">
                    <img src="~/Content/asset/img/service/section-icon-2.png" alt="section-icon">
                    <h2>Hiệu Suất Cao</h2>
                    <p>Hoạt động tốt trên hầu hết loại SmartPhone hiện hành.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 ">
                <div class="single-blog-1">
                    <img src="~/Content/asset/img/service/section-icon-3.png" alt="section-icon">
                    <h2>Hỗ Trợ 24/7</h2>
                    <p>Thêm chắc chắn với sự hỗ trợ 24/7 từ chúng tôi.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BLOG-1  END-->
<!--PRICING-TABLE -->
<section class="pricing-table-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2><span>Flake</span> Give you Best Price </h2>
                    <img src="~/Content/asset/img/section-shape.png" alt="section-shape">
                    <p>Lorem ipsum dolor sittem ametamngcing elit, per sed do eiusmoad teimpor sittem elit inuning ut sed sittem do eiusmod.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 ">
                <div class="single-pricing-table">
                    <h2>FREE</h2>
                    <img src="~/Content/asset/img/pricing-icon/pricing-icon.png" alt="pricing-icon">
                    <div class="pricing-amount">
                        <sup><span class="currency">$</span></sup>
                        <span class="price">
                            00
                        </span>
                        <span class="subscription">
                            /Annualy
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>10GB Space</li>
                            <li>1 Free Domain</li>
                            <li>300GB SSD Disk</li>
                            <li>Special Offers</li>
                            <li>Unlimited Support</li>
                        </ul>
                        <a class="pricing-btn blue-btn" href="#">SELECT PLAN</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="single-pricing-table">
                    <h2>PERSONAL</h2>
                    <img src="~/Content/asset/img/pricing-icon/pricing-icon-2.png" alt="pricing-icon">
                    <div class="pricing-amount">
                        <sup><span class="currency">$</span></sup>
                        <span class="price">
                            25
                        </span>
                        <span class="subscription">
                            /Annualy
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>10GB Space</li>
                            <li>1 Free Domain</li>
                            <li>300GB SSD Disk</li>
                            <li>Special Offers</li>
                            <li>Unlimited Support</li>
                        </ul>
                        <a class="pricing-btn blue-btn" href="#">SELECT PLAN</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="single-pricing-table active">
                    <h2>START UP</h2>
                    <img src="~/Content/asset/img/pricing-icon/pricing-icon-3.png" alt="pricing-icon">
                    <div class="pricing-amount">
                        <sup><span class="currency">$</span></sup>
                        <span class="price">
                            75
                        </span>
                        <span class="subscription">
                            /Annualy
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>10GB Space</li>
                            <li>1 Free Domain</li>
                            <li>300GB SSD Disk</li>
                            <li>Special Offers</li>
                            <li>Unlimited Support</li>
                        </ul>
                        <a class="pricing-btn blue-btn" href="#">SELECT PLAN</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="single-pricing-table">
                    <h2>ENTERPRISE</h2>
                    <img src="~/Content/asset/img/pricing-icon/pricing-icon-4.png" alt="pricing-icon">
                    <div class="pricing-amount">
                        <sup><span class="currency">$</span></sup>
                        <span class="price">
                            125
                        </span>
                        <span class="subscription">
                            /Annualy
                        </span>
                    </div>
                    <div class="pricing-content">
                        <ul>
                            <li>10GB Space</li>
                            <li>1 Free Domain</li>
                            <li>300GB SSD Disk</li>
                            <li>Special Offers</li>
                            <li>Unlimited Support</li>
                        </ul>
                        <a class="pricing-btn blue-btn" href="#">SELECT PLAN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--PRICING-TABLE END -->
<!--FEATURE ONE -->
<section class="feature-area feature-one-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <div class="feature-one-right wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                    <img src="~/Content/asset/img/feature/feature-one-1.png" alt="feature-icon">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <div class="feature-one-left">
                    <div class="pricing-amount feauter-amount">
                        <sup><span class="currency">$</span></sup>
                        <span class="price">
                            09
                        </span>
                        <span class="subscription">
                            /Yearly
                        </span>
                    </div>
                    <h2>Supper VPS Hosting</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a class="pricing-btn blue-btn homepage-one-all-features-btn" href="#">GET STARTED</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--FEATURE ONE  END-->
<!--FEATURE TWO AREA-->
<section class="feature-area feature-two-area feature-bg-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 ">
                <div class="feature-two-right">
                    <div class="pricing-amount feauter-amount-2">
                        <sup><span class="currency">$</span></sup>
                        <span class="price">
                            19.89
                        </span>
                        <span class="subscription">
                            /Yearly
                        </span>
                    </div>
                    <h2>Supper Cloud Hosting</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a class="pricing-btn blue-btn homepage-one-all-features-btn" href="#">GET STARTED</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12  ">
                <div class="feature-two-left wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                    <img src="~/Content/asset/img/blog/blog-three.jpg" alt="feature-icon">
                </div>
            </div>
        </div>
    </div>
</section>
<!--FEATURE TWO AREA END-->
<!--FEATURE THREE AREA-->
<section class="feature-area feature-one-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 ">
                <div class="feature-one-right wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                    <img src="~/Content/asset/img/feature/feature-three-1.png" alt="feature-icon">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 ">
                <div class="feature-one-left">
                    <div class="pricing-amount feauter-amount-3">
                        <sup><span class="currency">$</span></sup>
                        <span class="price">
                            19.89
                        </span>
                        <span class="subscription">
                            /Yearly
                        </span>
                    </div>
                    <h2>Dedicated Shared Hosting</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <a class="pricing-btn blue-btn homepage-one-all-features-btn" href="#">GET STARTED</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--FEATURE THREE AREA END-->
<!--FUN FACT AREA AREA-->
<section class="fan-fact-area fan-fact-area-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 ">
                <div class="single-items">
                    <h2><span class="counter">1350</span>+</h2>
                    <img src="~/Content/asset/img/fun-fact/fan-fact-1.png" alt="fan-fact-icon">
                    <h4>Registared Domains</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 ">
                <div class="single-items">
                    <h2><span class="counter">950</span>+</h2>
                    <img src="~/Content/asset/img/fun-fact/fan-fact-2.png" alt="fan-fact-icon">
                    <h4>Sites Hosted</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 ">
                <div class="single-items">
                    <h2><span class="counter">1080</span>+</h2>
                    <img src="~/Content/asset/img/fun-fact/fan-fact-3.png" alt="fan-fact-icon">
                    <h4>Happy Clients</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 ">
                <div class="single-items">
                    <h2><span class="counter">226</span>+</h2>
                    <img src="~/Content/asset/img/fun-fact/fan-fact-4.png" alt="fan-fact-icon">
                    <h4>Awards Won</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!--FUN FACT AREA AREA END-->
<!--SERVICE AREA-->
<section class="service-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Why <span>Flake</span> is So Good?</h2>
                    <img src="~/Content/asset/img/section-shape.png" alt="section-shape">
                    <p>Lorem ipsum dolor sittem ametamngcing elit, per sed do eiusmoad teimpor sittem elit inuning ut sed sittem do eiusmod.</p>
                </div>
            </div>
        </div>
        <div class="service-teatimonial">
            <div class="service-teatimonial-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="service-teatimonial-item-inner">
                    <img src="~/Content/asset/img/service/service-icon.png" alt="service-icon">
                    <h2>Resellers Hosting</h2>
                    <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed teimpor inunt ut sedig do eiusmod.</p>
                </div>
            </div>
            <div class="service-teatimonial-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="service-teatimonial-item-inner">
                    <img src="~/Content/asset/img/service/service-icon-2.png" alt="service-icon">
                    <h2>Web Hosting</h2>
                    <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed teimpor inunt ut sedig do eiusmod.</p>
                </div>
            </div>
            <div class="service-teatimonial-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="service-teatimonial-item-inner">
                    <img src="~/Content/asset/img/service/service-icon-3.png" alt="service-icon">
                    <h2>Cloud Hosting</h2>
                    <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed teimpor inunt ut sedig do eiusmod.</p>
                </div>
            </div>
            <div class="service-teatimonial-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="service-teatimonial-item-inner">
                    <img src="~/Content/asset/img/service/service-icon.png" alt="service-icon">
                    <h2>Resellers Hosting</h2>
                    <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed teimpor inunt ut sedig do eiusmod.</p>
                </div>
            </div>
            <div class="service-teatimonial-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="service-teatimonial-item-inner">
                    <img src="~/Content/asset/img/service/service-icon-2.png" alt="service-icon">
                    <h2>Web Hosting</h2>
                    <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed teimpor inunt ut sedig do eiusmod.</p>
                </div>
            </div>
            <div class="service-teatimonial-single-item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="service-teatimonial-item-inner">
                    <img src="~/Content/asset/img/service/service-icon.png" alt="service-icon">
                    <h2>Cloud Hosting</h2>
                    <p>Lorem ipsum dolor sittem ametam ngcing elit, per sed teimpor inunt ut sedig do eiusmod.</p>
                </div>
            </div>
        </div>
        <div class="slider-btns-1">
            <button class="service-nav-left"><span class="ti-angle-left"></span></button>
            <button class="service-nav-right"><span class="ti-angle-right"></span></button>
        </div>
    </div>
</section>
<!--SERVICE TWO  END-->
<!--REGISTER-AREA -->
<section class="register-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="register-heading">
                    <h2>Ready to work with Flake ?<br> Register Todaty.</h2>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="register-btn text-right">
                    <a class="pricing-btn blue-btn homepage-one-all-features-btn register-btn" href="#">Register Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--REGISTER-AREA  END-->